@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Public+Sans:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  visibility: visible;
  overflow-x: hidden;
  color: #666;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
.ant-modal.modalStyle .ant-modal-content {
  border-radius: 15px;
}
