/*****************************
Components - Banner
*****************************/

.banner-wrapper {
  margin-bottom: -30px;
  @include breakpoint(small) {
    margin-bottom: -30px;
  }
  @include breakpoint(large) {
    margin-bottom: -30px;
  }
}

.banner-wrapper > .container > .row > .col-12 {
  margin-bottom: 30px;
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
}

.banner-single {
  position: relative;
  &::before {
    content: "";
    background-color: #0000004d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.banner-img-link {
  overflow: hidden;
  display: block;
}

.banner-img {
  object-fit: cover;
  width: 100%;
  transition: $baseTransition;
  transform: scale(1);
  position: relative;
  max-height: 300px;
  min-height: 250px;
}

.banner-img-big {
  height: 200px;

  @include breakpoint(small) {
    height: 250px;
  }
  @include breakpoint(medium) {
    height: 300px;
  }
  @include breakpoint(large) {
    height: auto;
  }
}

.banner-content {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.banner-text-tiny {
  display: block;
  font-size: 16px;
  color: #00f9ed;
  font-weight: 500;
}

.banner-text-small {
  display: block;
  font-size: 18px;
  color: #4e4e4e;
  font-weight: 500;
}

.banner-text-large {
  font-size: 30px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 30px;
  color: #fff;
}

.banner-text-big {
  font-size: 36px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 30px;

  @include breakpoint(large) {
    font-size: 43px;
  }
}

.banner-text-big-highlight {
  color: $themeColor;
}

.banner-link {
  color: #f5f5f5 !important;
  /* border-bottom: 1px solid; */
  font-weight: 500;
  background-color: #ea1c26;
  padding: 5px 10px;
  &:hover {
    background-color: #40a9ff;
  }
}

.banner-single:hover .banner-img {
  transform: scale(1.2);
}

.banner-single:hover .banner-img-link::after {
  background: rgba($gray-100, 0.5);
}
.banner-single:hover::before {
  background-color: transparent;
}

//
.banner-sidebar {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
    margin-bottom: -30px;
  }

  @include breakpoint(large) {
    flex-direction: column;
  }
  & .banner-single {
    margin-right: 0;
    @include breakpoint(medium) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(large) {
      margin-right: 0;
    }
  }
}
